[submodule "library/MyFw"]
	path = library/MyFw
	url = https://github.com/Jazzo/MyFw.git
[submodule "library/bootstrap"]
	path = library/bootstrap
	url = https://github.com/Jazzo/bootstrap.git
[submodule "library/datetimepicker"]
	path = library/datetimepicker
	url = https://github.com/Jazzo/datetimepicker
[submodule "library/moment"]
	path = library/moment
	url = https://github.com/moment/moment/
[submodule "library/jquery"]
	path = library/jquery
	url = https://github.com/Jazzo/jquery.git
[submodule "library/handsontable"]
	path = library/handsontable
	url = https://github.com/Jazzo/handsontable.git
[submodule "library/medium-editor"]
	path = library/medium-editor
	url = https://github.com/yabwe/medium-editor.git
