/* Space out content a bit */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

.header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
#userdata { float: left; border-left: 10px solid #fcfcfc; margin: 0; padding: 0 10px; font-size: 14px; }

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -100px;
    /* Pad bottom by footer height */
    padding: 0 0 100px;
}

/* Set the fixed height of the footer here */
#footer {
    color: #999;
    height: 100px;
    padding-top: 10px;
    border-top: 1px solid #f5f5f5;
    background-color: #fdfdfd;
}

#wrap > .container {
    padding: 20px;
    width: auto;
    max-width: 1170px;
}

.container .jumbotron { margin-top: 50px; height: 360px; background: transparent url(/images/logo-iGruppi_icon.png) no-repeat 145px -23px; }

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
#footer p { margin: 0; }
#footer .info { float: left; margin: 0; }
#footer .social { margin: 15px 0 0 600px; }
#footer .icon_social { line-height: 28px; padding-left: 30px; }
#footer .icon_social a { color: #777; font-weight: normal; text-decoration: none;}
#footer .icon_social a:hover { color: #333;}
#footer .github { background: transparent url(/images/icon/social/Github.png) no-repeat 3px 1px; }
#footer .twitter { background: transparent url(/images/icon/social/Twitter.png) no-repeat 0px 3px; }
#footer .wordpress { background: transparent url(/images/icon/social/Wordpress.png) no-repeat 0px 3px; }


/*------------------ BASE Elements ------------------*/
a {color: #47a447;}
a:hover, a:focus { color: #666; }
strong { color: #000; }
h1, h2, h3, h4, h5, h6 {color: #777; font-weight: 200; }
h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4, h5, h6 { margin-top: 5px; margin-bottom: 5px; }
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {color: #090; font-weight: 200; }

.no-margin {margin:0;}
.big-margin-top { margin-top: 55px; }
.green {color: #47a447;}
.text-dark { color: #333;}
.title-list { margin: 0 0 8px 0; }

.alert_red { color: #f22; }
.alert_green { color: #2b2; }

.content { padding: 10px 30px; }

.breadcrumb {
    font-size: 13px;
    margin: -10px 0px 0px -15px;
    padding: 8px 15px;
    list-style: none;
    background-color: transparent;
}

/* STILI ORDINI STATUS */
.ordine { margin-top: 10px; margin-bottom: 2px; }
.Pianificato { color: #666; }
.Aperto { color: #2b2; }
.Chiuso { color: #f22; }
.Inviato { color: #ec971f; }
.Arrivato { color: #ec9700; }
.Consegnato { color: #ec971f; }
.Archiviato { color: #ccc; }

.btn_icon { float: right; height: 32px; width: 32px; margin: 2px 20px; }
.delete { background: url(/images/icon/delete_32.png) no-repeat left top; }
.delete:hover { background: url(/images/icon/delete_32-hover.png) no-repeat left top; }
.ok { background: url(/images/icon/ok_32.png) no-repeat left top; }
.ok:hover { background: url(/images/icon/ok_32-hover.png) no-repeat left top; }

.strike { text-decoration: line-through; }

figure.highlight {
    padding: 15px;
    margin: 15px 0;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

/* box_row disabled style */
.box_row_dis,
.box_row_dis *,
.box_row_dis a.gray,
.box_row_dis a.gray:hover,
.box_row_dis .sub_totale,
.box_row_dis h3.dom_title a { color: #ddd; }
.box_row_dis input { border: solid 1px #ddd; }


.sub_menu { float: right; text-align: right; }
.sub_menu a { color: #666; }
.sub_menu a:hover { color: #000; }
.sub_menu a.menu { display: block; line-height: 16px; padding: 3px 10px; margin: 0; font-size: 14px; color: #999; text-align: right; text-decoration: none; border: 1px solid #fff;}
.sub_menu a.menu:hover { color: #333; background-color: #eee; border: 1px solid #ccc; }
.sub_menu a.selected { color: #0c0; }
.sub_menu a.menu_dis { color:#ddd; }
.sub_menu .sub_totale { font-size: 18px; font-weight: 200; color: #666; clear: left; border: 1px solid #EEE; width: 127px; text-align: center; }
.totale_line { padding: 38px 0px 12px 8px; margin-bottom: 50px; }
.totale_line h2 { float: left; padding: 0; margin: 0; }
.totale_line .tot_right { margin: 0; padding: 0; color: #000; float: right; }
.sub_menu a.menu_icon { font-family: sans-serif; font-size: 27px; font-weight: bold; border: 1px solid #CCC; background-color: #eee; float: left; text-decoration: none; width: 35px; text-align: center; }
.sub_menu a.menu_icon:hover { background-color: #fff; color: #000; }
.sub_menu .prod_qta, .sub_menu .prod_qta_dis { font-size: 24px; font-weight: bold; border: 1px solid #eee; float: left; width: 50px; text-align: center; margin: 0px 3px 3px 3px; color: #000; padding: 2px;}
.sub_menu .prod_qta_dis { color: #ddd; }
.sub_menu .menu_icon_empty { width: 34px; float: left; }
.sub_menu .non-disponibile { color: #f00; clear: left; }

.box_note { background-color: #fcfcfc; border: 1px solid #ccc; padding: 15px; margin-top: 20px; }
.box_note h4 { margin-bottom: 0px; color: #444;}
.box_note h5 { margin-top: 2px;}

/* ORDINI */
.subcat-title { background-color: #d6e9c6; color: #060; padding: 4px 10px; margin: 75px 0px 10px -10px; margin-top: 75px; }
.totale { margin-bottom: 20px; padding: 10px 20px; background-color: #fcfcfc; border-radius: 2px;}
.totale h2 { margin-top: 10px; }
.totale h4 { margin-bottom: 15px; }


/* LISt WITH A SIDEBAR */
#listwithsidebar .leftbar .btn { margin-bottom: 20px; display: block; text-align: left; }
#listwithsidebar .panel-body a.selected { color: #666; border: 1px solid rgb(170, 236, 143); background-color: rgb(235, 247, 234); }
#listwithsidebar .panel-body a.selected:hover { color: #999; background-color: #fff; }


#edit_listino_form h2.titolo { margin-bottom: 0; }
#edit_listino_form h3.subtitolo { margin-top: 0; margin-bottom: 30px; }

/* ORDINE HEADER */
#ordine_header { margin-top: 20px; }
#ordine_header .big-margin-top { margin-top: 30px; }
.ordine_title a.disabled, .ordine_title a.disabled:hover { background-color: transparent; cursor: default; }


/* DASHBOARD */
#dashboard .table-condensed { margin-bottom: 0; }


/* PAGINATION */
.pagination { margin-top: 10px; }
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #47a447;
    border-color: #47a447;
}
.pagination>li>a, .pagination>li>span {
    color: #47a447;
}


/*
 * Side navigation ORDINI
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary sections
 */

/* First level of nav */
.bs-sidenav {
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #fcfcfc;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #060;
  background-color: transparent;
  border-right: 1px solid #060;
}

.bs-sidebar .nav > li > a.restricted,
.bs-sidebar .nav > .active > a.restricted {  
    padding: 2px 20px;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding: 1px 10px 1px 30px;
  font-size: 90%;
}

@media screen and (min-width: 768px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  .bs-sidebar { margin-left: 0; }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-top,
  .bs-sidebar.affix-bottom {
    width: 260px;
  }
  .bs-sidebar.affix {
    top: 50px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  .bs-sidebar { margin-left: 0; }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-top,
  .bs-sidebar.affix-bottom {
    width: 260px;
  }
  .bs-sidebar.affix {
    top: 20px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  .bs-sidebar { margin-left: 0; }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-top,
  .bs-sidebar.affix-bottom {
    width: 260px;
  }
  .bs-sidebar.affix {
    top: 20px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}


/*------------------ GRIDs and more.... */

.row-myig { margin-top: 40px; padding-bottom: 8px; border-bottom: 20px solid #fbfbfb; }
.row-myig-thin { margin-top: 20px; padding-top: 10px; padding-bottom: 4px; border-bottom: 1px solid #fbfbfb; }
.row-myig-thin:hover { background-color: #fbfbfb; }
.dashboard-right { margin-top: 10px; }
.row-margin-bottom { margin-bottom: 15px; }

/*------------------ Buttons and more.... */
.btn { border-radius: 2px; margin-top: 4px; }
.btn-no-bord-rad { border-radius: 0px; }
.btn-mylg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-success:hover { background-color: #47a447; border-color: #398439; }
.btn-primary:hover { background-color: #3276b1; border-color: #285e8e; }
.btn-inform { font-size: 14px; padding: 3px 10px; line-height: 1.428571429; vertical-align: top;}
.btn-primary.disabled { color: #fff; }

.nav-pills-secondary>li>a { border-radius: 2px; padding: 4px 10px; }
.nav-pills>li>a { border-radius: 2px; }
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
}
.btn-group-myig { margin-top: 4px; }

.panel-group .panel { border-radius: 2px; }

.panel-body a { display: block; margin: 0; padding: 2px 8px; text-decoration: none; color: #47a447; font-weight: 200; font-size: 16px; }
.panel-body a:hover { background-color: #eee; color: #666; }
.panel-body a.selected { color: #666; border: 1px solid #eee; }
.panel-body a.selected:hover { color: #f00; border: 1px solid #f00 }


/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p { font-size: 14px; }
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.bs-callout-danger h4 {
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.bs-callout-warning h4 {
  color: #c09853;
}
.bs-callout-info {
  background-color: #F5FAF4;
  border-color: #BCF1BE;
}
.bs-callout-info h4 {
  color: #4CAD3A;
}


/*
 * Handsontable
 *
 * Some specific styles to optimize Handsontable grids.
 */

.myhandsontable { font-size: 14px; margin-top: 20px; }
.handsontable .currentRow {
  background-color: #BCF1BE;
}


/*
 * FORM
 * My Forms styles...
 */


form{ margin:0px; margin-top: 35px; padding:0px; font-size: 16px; }
form.ordini { margin: 0; font-size: 14px; }
form#forminvioordine, form#notifica_ordine { margin-top: 0; }
form p { margin-bottom: 15px; }
label{ cursor: pointer;	color: #000; font-weight: bold;}
label input{ font-weight: normal; }
input, textarea, select { margin: 0px 2px 20px 2px; color: #000; }
input  { background-color: #fff; border: solid 1px #aaa; padding: 2px 6px; font-size: 16px;}
textarea { border:1px solid #aaa; padding:3px; font-size:11pt; margin-bottom: 5px;}
select {
    margin-top: 4px;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[type="number"] { width: 100px; }
.field_in_table { margin-bottom: 0; }

option { padding-left: 2px; padding-right: 10px; }
fieldset { padding: 15px; padding-top: 40px; margin: 0; margin-top: 10px; text-align: left; border: none; }
fieldset.border_top { border-top: 1px solid #eee; }
fieldset.for_submit { margin-top: 40px; padding: 10px; }
fieldset.for_submit input#submit { margin: 0; font-size: 22pt; padding: 10px 25px; }
fieldset label{
    float:left;
    width:100px;
    color: #666;
    line-height: 28px;
    margin: 0 0 5px 0;
    padding-right: 8px;
    text-align: right;
    font-weight: normal;
}
fieldset label.required { color: #000; }

fieldset.fieldset_submit { margin-top: 20px; }
fieldset ul.ulf_elements { list-style-type:none; }
fieldset ul.ulf_button { list-style-type:none; }

fieldset .error { padding: 10px 0; margin-bottom: 20px; }
fieldset .error input, 
fieldset .error textarea, 
fieldset .error select { margin-bottom: 5px; border: 2px solid #D34940; color: #D34940; }
fieldset .error p {margin: 0 0 0 158px; padding: 1px 0 0 29px; color: #D34940; background: url(../images/icon/icona_error_16.png) no-repeat 6px 4px;}

li.form_row, li.witherrors { margin-top: 10px; }
li.witherrors { background-color: #F8FFDD; border: 1px solid #ddFFdd; padding: 20px 0 20px 0; }

li.form_row a.info { background-position: 0 1px; padding: 0 0 0 18px; font-size: 10pt; margin-left: 6px; color: #999; }
li.form_row a.info:hover {color: #060; }

legend { background-color: #eee; font-size: 16px; width: auto; margin: 10px 0 0 30px; padding: 3px 5px 3px 5px; color: #666; font-weight: 200; border: 1px solid #ddd; }

/* Other class in form */
.intro { margin: 0 10px 20px 0; border: 1px solid #060;}
.hint, .hint_green { margin: 2px 0 12px 108px; padding: 0; }
.hint_green { color: #393;}
.hint_50 { margin: 2px 0 0px 50px; padding: 0; }
.inputcheckbox { border:0px; }
select[disabled], input[disabled], .disabled, .readonly { background-color: #f6f6f6; color: #999; }
ul.errors { margin: 0 0 10px 103px; list-style: none; }
ul.errors li { padding: 3px; color: #f00; list-style-image: url(/images/icon/icona_error_16.png); }
ul.form-errors { list-style: none; margin-right: 20px; padding: 10px; background: #FBDCCA url(/images/icon/icona_stop_48.png) no-repeat 8px; border: 1px solid #f00; }
ul.form-errors li ul.errors li { list-style-image: none; }

.np_form { font-weight: bold; }

.checkbox_box { margin-bottom: 20px;}

/* FORM - Model 1 - Label 200px */
form.f1n200 fieldset label{ width: 200px; }
form.f1n200 ul.errors,
form.f1n200 fieldset .checkbox_box,
form.f1n200 .hint,
form.f1n200 fieldset .error p { margin-left: 208px; }
form.f1n200 input#submit, form.f1n200 button#submit, form.f1n200 .contact_submit { margin-left: 217px; }

/* FORM - Model 1 - Label 150px */
form.f1n150 fieldset label{ width: 150px; }
form.f1n150 ul.errors, 
form.f1n150 fieldset .checkbox_box,
form.f1n150 .hint,
form.f1n150 fieldset .error p { margin-left: 158px; }
form.f1n150 input#submit, form.f1n150 button#submit { margin-left: 167px; }

/* FORM - Model 1 - Label 120px */
form.f1n120 fieldset label{ width: 120px; }
form.f1n120 ul.errors,
form.f1n120 fieldset .checkbox_box,
form.f1n120 .hint,
form.f1n120 fieldset .error p { margin-left: 128px; }
form.f1n120 input#submit, form.f1n120 button#submit { margin-left: 137px; }




/***********************************
    MEDIA PRINT
***********************************/


@media print {

    #wrap > .container, .content {
        padding: 0.1em;
    }
    
/* remove some useless parts of handsontable on media print */
    .ht_clone_top {
        visibility: hidden;
    }
    .htCore {
        border-collapse: collapse!important;
    }
    .htCore td {
        border: 1px solid #999;
        padding: 0 2px;
    }
}


