/*********************************************************************************
 * Copyright © 2012 Tutti i diritti riservati.
 * Analisi e Sviluppo di Davide Gullo.
 ********************************************************************************/

/* Style form, input, fieldset, ecc. */
@import url(/css/form.css);

/* Import Screen Stylesheet */
@import url(/css/style.css);


/*------------------ struttura layout fluido -----------------------------------*/

html,body{margin:0; padding: 0;height: 100%}
body {
	background-color: #fff;
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
	color: #768e98;
    font-size: 76%;
}

div, p, img { border: 0; margin: 0; padding: 0; }

/* cosi' il clear (left, right, both) lo posso impostare nel codice a seconda delle esigenze */
div.my_clear { margin: 0 0 50px 0; padding: 0; line-height: 0; height: 0;  }

/*------------------------- Container --------------*/
#container { margin: 10px 30px; }

#login_container { margin: 30px auto; padding: 20px; width: 400px; background-color: #fff; border: 1px solid #999; }
#login_box { background-color: #eee; padding: 10px; margin-top: 20px; border: 1px solid #999; }

/*------------------------- Header, intestazione e loghi --------------*/
div#header {
	display: none;
}

/*------------------------- Content --------------*/
#content { padding: 20px; min-height: 450px;}


/*------------------------- Footer ------------------*/
div#footer {
	display: none;
}


/*------------------------- Default Styles ------------------*/

strong { color: #000; }

h1, h2, h3, h4, h5, h6 { text-shadow: none; }

h1 {
	color: #000;
	font-size: 24px;
	padding: 5px;
	margin: 0;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	padding: 5px;
	margin: 10px 0;
	color: #000;
}
h2 a, h2 a:visited, h2 a:link, h2 a:active { color: #fff; text-decoration: none; }
h2 a:hover { color: #ddd; text-decoration: underline;}

h3 {
	font-size: 16px;
	padding: 3px 3px 3px 10px;
	margin: 10px 0 0 0;
	color: #000;
}

h4 {
	font-size: 14px;
	padding: 3px 3px 3px 10px;
	margin: 10px 0 0 0;
	color: #000;
}

h5 {
	font-size: 100%;
	font-weight: normal;
	font-style: italic;
	padding: 0 0 2px 0;
	margin: 8px 0 2px 0;
	color: #000;
}

p {
	background-color: transparent;
	margin: 10px;
}

/*------------------------- Defined Styles ------------------*/

.on_right { float: right; }
.on_left { float: left; }
.alert { font-weight : bold; color: #f22; }
.alert_OK { font-weight : bold; color: #0c0; }
.green { font-weight : bold; color: #090; }

.form_error { padding: 10px 10px 10px 60px; color: #f22; margin: 10px; font-weight: bold; font-size: 14px; background: url(../images/icon/icona_stop_48.png) no-repeat 10px 7px; border: 1px solid #ddd; }
.form_error p { margin-top: 12px; }

.domain h1, .domain h2 { margin: 25px 0 5px 0; }

#contact_form_iframe {  width: 100%; height: 80%; }
#content_list1 { width: 700px; margin-right: 30px;}
#content_list1 a {color: #666;}
#content_list1 a:hover {color: #000;}
/* #content_list1_info { border: 1px solid #EEE; border-radius: 3px; box-shadow: 0 0 6px 0px #EEE; } */
#domains_details p, #domains_details ol { margin: 3px 10px 15px 11px; }
#domains_details ol li { margin-bottom: 10px; }

.sub_menu { float: right; width: 200px; text-align: right; }

.sub_menu .sub_totale, .sub_menu .totale { color: #666; clear: left; border: 1px solid #EEE; width: 127px; text-align: center; }
.sub_menu .sub_totale h3 { margin-top: 0; }

.sub_menu .totale p { margin: 0; padding: 3px; background-color: #eee; color: #666; font-size: 15px; }

.totale_line { padding: 38px 0px 12px 8px; margin-bottom: 50px; border-bottom: 3px dashed #CCC; }
.totale_line h2 { float: left; padding: 0; margin: 0; }
.totale_line .tot_right { margin: 0; padding: 0; color: #000; float: right; }


#list_box { margin: 50px 0 35px 0; }
#list_box .box_row, #list_box .box_row_dis { padding-bottom: 5px; margin-bottom: 20px; border-bottom: 2px solid #eee; }
#list_box .box_row p { font-size: 14px; margin-top: 4px; }
#list_box .box_row a.gray { color: #999; }
#list_box .box_row a.gray:hover { color: #333; }
#list_box .box_row h3 { color: #666; font-size: 18px; }
#list_box .box_row h3.dom_title a { color: #662d91; }




/*------------------ STILI ORDINI STATUS ------------------*/

.ordine { margin-top: 5px; }
.Pianificato { color: #666; }
.Aperto { color: #2b2; }
.Chiuso { color: #f22; }
.Archiviato { color: #ccc; }


/*------------------ STILI TABELLE ------------------*/

table {
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 2px;
	caption-side: top;
	margin: 2px 0 10px 0;
	padding: 0;
	width: auto;
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
/*	font-size: 11px; */
}
table.free { margin: 0;  padding: 0;}
tr { color : #999; background-color: #efefef; }
tr.alterna1 { background-color: #FFFCE4; }
tr.alterna2 { background-color: #efefef; }
tr.highlight_yellow { background-color: #ffffaa; }
tr.highlight_green { background-color: #CCFF99; }

th { border: 1px solid #999; text-align: left; color: #666; padding: 2px; font-weight: normal; font-style: italic; font-size: 14px; }
th.right { text-align: right; }
th.center { text-align: center; }
th.left { text-align: left; }
th.col1 { text-align: right; color: #000; }
th.size { text-align: center; color: #fff; background-color: #0011AB; }
th.num { text-align: center; color: #fff; background-color: #D34940; }
th.vuoto { border: none; background-color: #fff; }

td { color: #000; border-bottom: 1px solid #999; padding: 2px; }
td.right { text-align: right; }
td.center { text-align: center; }
td.left { text-align: left; }
td.size { text-align: center; color: #0011AB; }
td.num { text-align: center; color: #D34940; }
td.vuoto { border: none; background-color: transparent; }
td.totale { text-align: center; color: #999; }

/*
	Tabella Calendario
*/
table.calendar {
	text-align: center;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 1px;
}
td.month { background-color: #FFF7EF; }
td.selected-day { background-color: #FFFFE2; }
td.day { background-color: #FFF7EF; }

/*------------------------- LINK ------------------*/
a, a:visited, a:link, a:active {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	text-decoration: underline;
}
a:hover { color: #768E98; }
a img{ border: 0; }

/*------------------------- ELENCHI ------------------*/

ul { margin: 5px; padding: 0 0 0 30px; }
li { margin: 0; padding: 2px; }


